<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>150823614983-g6kqvh4simlnepb8jatcuq56vqhke1oj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150823614983-g6kqvh4simlnepb8jatcuq56vqhke1oj</string>
	<key>API_KEY</key>
	<string>AIzaSyBMS84KDr5JvsWofjLOSLg0or6a2sO9iXo</string>
	<key>GCM_SENDER_ID</key>
	<string>150823614983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.cast.house</string>
	<key>PROJECT_ID</key>
	<string>cast-house</string>
	<key>STORAGE_BUCKET</key>
	<string>cast-house.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150823614983:ios:531ed67ce45d929d</string>
	<key>DATABASE_URL</key>
	<string>https://cast-house.firebaseio.com</string>
</dict>
</plist>